.contacts__wrapper {
  width: 280px;
  margin: auto;
  text-align: center;
  z-index: 10;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin: auto;
    padding-top: 43px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: auto;
    padding-top: 59px;
  }
}

.contacts__subtitle {
  @include text(700, 18px, 25px);
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 2px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 -10px 0;
  }
}

.contacts__subtitle--gap {
  @media (min-width: $desktop-width) {
    margin: 0 0 22px 0;
  }
}

.contacts__text {
  @include text(300, 24px, 33px);
  color: $text-info;
  margin: 0;
}

.contacts__text--email a:hover {
  color: $text-primary;
  text-decoration: revert;
}

.contacts__text--email a:active {
  text-decoration: none;
  color: rgba($text-primary, 0.3);
}

.contacts__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    gap: 70px;
    margin: auto;
  }
}

.contacts__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    width: 250px;
    margin-bottom: 45px;
  }
}

.contacts__item--reverse-order {
  @media (min-width: $tablet-width) {
    margin-left: 70px;
  }

  @media (min-width: $desktop-width) {
    order: 3;
    margin-left: 0;
  }
}

.contacts__map {
  position: relative;
  width: 100%;
  margin: auto;

  @media (min-width: $tablet-width) {
    margin: -36px auto auto;
  }

  @media (min-width: $desktop-width) {
    margin: -26px auto auto;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("/img/triangle-white-map.svg");
    background-repeat: no-repeat;
    width: 1200px;
    height: 123px;
    top: -85px;
    left: -172px;

    @media (min-width: $tablet-width) {
      top: -56px;
      left: 0;
    }

    @media (min-width: $desktop-width) {
      padding-top: 20%;
      width: 100%;
      height: 0;
      top: 0;
      left: 0;
      background-size: 100% auto;
    }
  }
}

.contacts__iframe {
  width: 320px;
  height: 200px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 660px;
    height: 374px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 502px;
  }
}
