.features {
  padding-top: 15px;
}

.features__wrapper {
  position: relative;
  background-color: $bg-secondary;
  padding: 52px 0 291px;

  @media (min-width: $tablet-width) {
    padding: 27px 0 10px;
    margin: 100px auto 0;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    padding: 0;
  }
}

.features__inner {
  width: 280px;
  margin: auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 310px;
    margin: 47px 0 0 330px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    width: 892px;
    padding: 0;
    text-align: center;
  }
}

.features__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding-top: 333px;
    gap: 72px;
  }
}

.features__item {
  list-style: none;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    width: 249px;
  }
}

.features__item:nth-child(1)::before {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    background-image: url("/img/screen-desktop-1.png");
    background-repeat: no-repeat;
    width: 186px;
    height: 382px;
    top: -326px;
    left: 30px;
    z-index: 10;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/screen-desktop-1@2x.png");
      background-size: 186px auto;
    }
  }
}

.features__item:nth-child(2)::before {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    background-image: url("/img/screen-desktop-2.png");
    background-repeat: no-repeat;
    width: 186px;
    height: 382px;
    top: -326px;
    left: 32px;
    z-index: 10;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/screen-desktop-2@2x.png");
      background-size: 186px auto;
    }
  }
}

.features__item:nth-child(3)::before {
  content: "";
  position: absolute;
  background-image: url("/img/screen-mobile-3.png");
  background-repeat: no-repeat;
  width: 157px;
  height: 320px;
  top: 167px;
  left: 62px;
  z-index: 20;

  @media (min-resolution: 2dppx) {
    background-image: url("/img/screen-mobile-3@2x.png");
    background-size: 157px auto;
  }

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    background-image: url("/img/screen-tablet-3.png");
    background-repeat: no-repeat;
    width: 268px;
    height: 547px;
    top: -338px;
    left: -311px;
    z-index: 10;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/screen-tablet-3@2x.png");
      background-size: 268px auto;
    }
  }

  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    background-image: url("/img/screen-desktop-3.png");
    background-repeat: no-repeat;
    width: 186px;
    height: 382px;
    top: -326px;
    left: 34px;
    z-index: 10;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/screen-desktop-3@2x.png");
      background-size: 186px auto;
    }
  }
}

.features__item::after {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    background-image: url("/img/shadow.svg");
    background-repeat: no-repeat;
    width: 300px;
    height: 17px;
    z-index: 10;
    top: -41px;
    left: -17px;
  }
}

.features__title {
  @include text(700, 18px);
  margin-bottom: -3px;

  @media (min-width: $desktop-width) {
    @include text(700, 30px, 30px);
    background-color: $bg-secondary;
    z-index: 100;
    padding-top: 56px;
    margin: -26px auto 5px;
  }
}

.features__title--stronger {
  @media (min-width: $tablet-width) {
    @include text(700, 30px, 36px);
    width: 168px;
  }

  @media (min-width: $desktop-width) {
    @include text(700, 30px, 30px);
    width: 526px;
    margin-bottom: 29px;
  }
}

.features__description {
  @include text;

  @media (min-width: $desktop-width) {
    @include text(400, 18px, 30px);
  }
}

.features__description--margin {
  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 29px;
  }
}

.features__description--link {
  color: $text-info;
  border-bottom: 1px solid $text-info;
}

.features__article {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: relative;
    background-color: $bg-primary;
    padding: 20px;
    z-index: 20;
  }

  @media (min-width: $desktop-width) {
    display: block;
    background-color: $bg-secondary;
    margin: -30px 0 169px 0;
  }
}

.features__article::before {
  content: "";
  position: absolute;
  background-image: url("/img/timer.svg");
  background-repeat: no-repeat;
  width: 238px;
  height: 276px;
  top: 54px;
  left: 21px;

  @media (min-width: $desktop-width) {
    width: 298px;
    height: 345px;
    top: 64px;
    left: 130px;
  }
}

.features__article-inner {
  @media (min-width: $tablet-width) {
    width: 297px;
    margin: 75px 0 88px 310px;
  }

  @media (min-width: $desktop-width) {
    width: 526px;
    margin: 107px 0 93px 480px;
  }
}
