.main-nav {
  background-color: $bg-nav;
}

.main-nav__wrapper {
  @include wrapper();
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-nav__inner {
  @include centerer;
}

.main-nav__list {
  //display: none;
}

.main-nav__item {
  list-style: none;
}

.main-nav__item a {
  @include text(700, 18px, 32px);
  color: $text-secondary;
  text-transform: uppercase;
}
