.page-footer__inner {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 28px auto;
  }
}

.page-footer__logo {
  width: 145px;
  height: 40px;
  margin: 39px auto 26px;

  @media (min-width: $tablet-width) {
    margin: 0 70px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 231px 0 0;
  }
}

.page-footer__social {
  margin: 0 auto 14px;

  @media (min-width: $tablet-width) {
    margin: 17px 86px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 22px -3px 0 0;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  margin: 0 auto 34px;

  @media (min-width: $tablet-width) {
    margin: 12px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 19px 0 0 226px;
  }
}
