.preview {
  @media (min-width: $tablet-width) {
    background: url("/img/hand.png");
    background-size: 320px 286px;
    background-repeat: no-repeat;
    background-position: right;
  }
}

.preview__paragraph {
  @include centerer;
  height: 320px;
  background: url("/img/hand.png");
  background-size: 320px 286px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    height: 0;
  }
}

.preview__wrapper {
  background-color: $bg-info;

  @media (min-width: $tablet-width) {
    background-color: inherit;
  }

  @media (min-width: $desktop-width) {
    @include centerer;
  }
}

.preview__inner {
  @include centerer;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 240px;
    margin-left: 20px;
  }
}

.preview__button {
  @include text(700, 18px, 18px);
  color: $text-secondary;
}

.preview__list {
  display: flex;
}

.preview__item {
  height: 47px;
}

.preview__note {
  @include text(300);
  text-align: center;
  color: $text-secondary;
}
