.preview {
  background-image: url("/img/phone-mobile.png");
  background-repeat: no-repeat;
  background-position: 50% 110px;

  @media (min-resolution: 2dppx) {
    background-image: url("/img/phone-mobile@2x.png");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    background-image: url("/img/phone-tablet.png");
    background-repeat: no-repeat;
    background-position: 50% 75px;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/phone-tablet@2x.png");
      background-size: 660px auto;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("/img/phone-desktop.png");
    background-repeat: no-repeat;
    background-position: 97% 99px;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/phone-desktop@2x.png");
      background-size: 1050px auto;
    }
  }
}

.preview__paragraph {
  @include centerer;
  height: 320px;
  background-repeat: no-repeat;
  margin-bottom: 52px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.preview__wrapper {
  background-color: $bg-info;
  padding: 28px 0 19px;

  @media (min-width: $tablet-width) {
    background-color: inherit;
    padding: 0 0 95px 0;

    @include centerer;
  }

  @media (min-width: $desktop-width) {
    @include centerer;
    padding: 0;
  }
}

.preview__inner {
  @include centerer;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    margin: 58px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 62px 0 0 0;
    padding-bottom: 107px;
  }
}

.preview__button {
  width: 280px;
  height: 55px;
  border: 3px solid $bg-primary;
  box-sizing: border-box;
  border-radius: 29px;
  background-color: inherit;
  padding: 12px;
  margin-bottom: 31px;
  cursor: pointer;

  a {
    @include text(700, 18px, 18px);
    color: $text-secondary;

    @media (min-width: $desktop-width) {
      @include text(700, 21px, 18px);
    }
  }

  @media (min-width: $tablet-width) {
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    padding: 14px;
    margin-bottom: 57px;
  }
}

.preview__button:hover {
  background-color: $bg-primary;

  a {
    color: $text-info;
    opacity: 1;
  }
}

.preview__button:active {
  background-color: $bg-primary;

  a {
    color: $text-info;
    opacity: 0.3;
  }
}

.preview__button a:active {
  background-color: $bg-primary;
}

.preview__list {
  display: flex;
  align-items: baseline;
  gap: 35px;
  margin-left: 38px;

  @media (min-width: $tablet-width) {
    margin: 9px auto 14px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 29px;
  }
}

.preview__item {
  height: 47px;
}

.preview__app-store {
  background-image: url("/img/app-store.png");
}

.preview__note {
  @include text(300);
  text-align: center;
  color: $text-secondary;

  @media (min-width: $tablet-width) {
    @include text(300, 18px, 24px);
  }
}
