.prices {
  background-color: $bg-secondary;

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 50px;
  }
}

.prices__wrapper {
  width: 320px;
  margin: 0 auto 42px;
  padding-bottom: 47px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: auto;
  }
}

.prices__table {
  margin: 103px auto 40px;
  position: relative;
  left: -604px;

  @media (min-width: $tablet-width) {
    margin: auto;
    padding-top: 112px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 152px;
  }
}

.prices__toggles {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 60px;
  margin: auto;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.prices__toggle {
  padding: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba($bg-table, 0.3);
  border: inherit;
  cursor: pointer;
}

.prices__toggle:hover {
  background-color: rgba($bg-table, 0.6);
}

.prices__toggle:active {
  background-color: rgba($bg-table, 0.1);
}

.prices__toggle--current {
  width: 10px;
  height: 10px;
  background-color: $bg-primary;
  border: 3px solid $bg-table;
}
