.reviews {
  position: relative;
  z-index: 20;
  background: $bg-primary;
}

.reviews__wrapper {
  position: relative;
  width: 280px;
  margin: 0 auto 36px;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0 auto 0;
  }
}

.reviews__wrapper::before {
  content: url("/img/triangle-white.svg");
  position: absolute;
  width: 100%;
  top: 314px;
  left: -527px;
  margin: 0;
  z-index: 10;

  @media (min-width: $tablet-width) {
    top: 252px;
    left: -486px;
  }

  @media (min-width: $desktop-width) {
    top: 241px;
    left: -129px;
  }
}

.reviews__slider {
  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }
}
