.slider__item {
  margin: 0 auto 20px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 38px;
  }
}

.slider__author-info {
  text-align: center;
}

.slider__text {
  @include text(400, 14px, 30px);
  position: relative;
  padding: 16px 0 14px;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include text(400, 18px, 30px);
  }

  @media (min-width: $desktop-width) {
    width: 688px;
    margin: 0 auto 6px;
  }
}

.slider__text::before {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    background-image: url("/img/quotes.svg");
    background-repeat: no-repeat;
    width: 79px;
    height: 63px;
    z-index: 10;
    top: -96px;
    left: 306px;
  }
}

.slider__author {
  @include text(700, 18px, 30px);
  padding-top: 23px;
  margin-bottom: -2px;

  @media (min-width: $tablet-width) {
    @include text(700, 20px, 30px);
    padding: 0;
    margin-bottom: -12px;
  }

  @media (min-width: $desktop-width) {
    @include text(700, 24px, 30px);
    margin-bottom: -16px;
  }
}

.slider__author-bio {
  @include text(400, 14px, 30px);

  @media (min-width: $desktop-width) {
    @include text(400, 18px, 30px);
  }
}

@media (max-width: $mobile-width-only) {
  .slider__author-info {
    display: flex;
    flex-direction: column-reverse;
  }

  .slider__author-bio {
    display: none;
  }
}

.slider__arrow {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    background-color: $bg-primary;
    border-color: rgba($bg-table, 0.3);
    width: 30px;
    height: 30px;
    border-width: 0 1px 1px 0;
    outline: none;
    cursor: pointer;
  }
}

.slider__arrow—-left {
  transform: rotate(135deg);
  position: absolute;
  top: 50px;
  left: 137px;
}

.slider__arrow—-right {
  transform: rotate(-45deg);
  position: absolute;
  top: 50px;
  left: 1033px;
}

.slider__arrow—-left:hover,
.slider__arrow—-right:hover {
  border-color: rgba($bg-table, 0.6);
}

.slider__arrow—-left:active,
.slider__arrow—-right:active {
  border-color: rgba($bg-table, 0.1);
}

.slider__toggles {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 60px;
  margin: auto;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.slider__toggle {
  padding: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba($bg-table, 0.3);
  border: inherit;
  cursor: pointer;
}

.slider__toggle:hover {
  background-color: rgba($bg-table, 0.6);
}

.slider__toggle:active {
  background-color: rgba($bg-table, 0.1);
}

.slider__toggle--current {
  width: 10px;
  height: 10px;
  background-color: $bg-primary;
  border: 3px solid $bg-table;
}
