.button-group {
  display: flex;
  flex-direction: column;
  margin: 45px auto 0 -20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0 0 41px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding: 0;
    margin: 0;
  }
}

.button-group__button {
  @include text(700, 18px, 18px);
  color: $text-info;
  width: 280px;
  height: 55px;
  border: 3px solid $text-info;
  box-sizing: border-box;
  border-radius: 30px;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    width: 260px;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
  }
}

.button-group__upload {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 43px;
  }
}

.button-group__upload:hover {
  background-color: $text-info;
  color: $text-secondary;
}

.button-group__upload:active {
  background-color: $text-info;
  color: rgba($text-secondary, 0.3);
}

.button-group__cancel {
  color: rgba($bg-table, 0.1);
  border-color: rgba($bg-table, 0.1);
}

.button-group__cancel:hover {
  color: rgba($bg-table, 0.3);
  border-color: rgba($bg-table, 0.3);
}

.button-group__cancel:active {
  color: rgba($text-secondary, 0.3);
  background-color: rgba($bg-table, 0.3);
  border: none;
}
