.photo-editor__wrapper {
  background-color: $bg-secondary;

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: auto;
  }
}

.photo-editor__inner {
  width: 280px;
  padding-top: 20px;
  margin: 44px auto 0;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 620px;
    padding-top: 58px;
    margin: 70px auto 6px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    margin: 66px auto 36px 80px;
  }
}

.photo-editor__img {
  @media (min-width: $tablet-width) {
    width: 300px;
    height: 400px;
  }
}
