// GENERAL FONT
$basic-font: "Open Sans", Arial, sans-serif;

// BACKGROUND COLORS
$bg-nav: rgba(#000000, 0.3);
$bg-info:#1D2631;
$bg-secondary: #F2F2F2;
$bg-table: #283645;

// TEXT COLORS
$text-primary: #000000;
$text-secondary: #FFFFFF;
$text-info: #D22856;

