.achievements-group {
  @media (min-width: $tablet-width) {
    order: -3;
  }
}

.achievements-group__list {
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    margin: 40px 0 27px 60px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    text-align: inherit;
    margin: 44px 61px 11px;
    flex-shrink: 1;
    flex-direction: column;
    height: 166px;
  }
}

.achievements-group__item {
  margin-bottom: 37px;
}

.achievements-group__item:last-child {

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 5px;
  }
}

.achievements-group__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.achievements-group__input + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.achievements-group__input + label::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid $table-border;
  border-radius: 2px;
  margin-right: 20px;
  background: $bg-primary;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
}

.achievements-group__input:checked + label::before {
  background-image: url("/img/checkbox.svg");
}

.achievements-group__input:not(:disabled) + label:hover::before {
  border-color: $bg-table;
}

.achievements-group__input:not(:disabled) + label:active::before {
  border-color: $text-info;
}

.achievements-group__input:disabled + label,
.achievements-group__input:checked:disabled + label,
.achievements-group__input:disabled:hover + label,
.achievements-group__input:disabled:focus + label {
  opacity: 0.25;
  pointer-events: none;
}

.achievements-group__label {
  @include text (400, 18px, 30px);
  cursor: pointer;
}
