.contacts-group {
  @media (min-width: $tablet-width) {
    order: -4;
  }

  @media (min-width: $desktop-width) {
    width: 936px;
  }
}

@media (min-width: $tablet-width) {
  .contacts-group > legend {
    display: block;
    text-align: center;
    padding: 0.2% 0.4%;
    width: 40%;
  }
}

.contacts-group__list {
  margin: 31px auto 29px;

  @media (min-width: $tablet-width) {
    margin-bottom: -11px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
    margin: 26px auto -12px;
  }
}

.contacts-group__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    flex-direction: column-reverse;
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 7px 28px -14px;
  }
}

.contacts-group__label {
  @include text(400, 14px, 30px);
  color: $text-info;
  text-transform: uppercase;
  margin: 0 0 5px 24px;

  @media (min-width: $tablet-width) {
    margin: 10px 20px 0 67px;
  }

  @media (min-width: $desktop-width) {
    margin: 10px 0 -13px 41px;
  }
}

.contacts-group__label--margin-left {
  @media (min-width: $desktop-width) {
    margin: 10px 0 -13px 18px;
  }
}

.contacts-group__input {
  border: 2px solid $table-border;
  border-radius: 2px;
  width: 256px;
  padding: 15px 0 15px 20px;
  position: relative;
  z-index: 11;
  background: transparent;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    padding: 15px 0 15px 18px;
    width: 80%;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
  }
}

.contacts-group__item:nth-child(1)::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    background-image: url("../img/phone-icon.svg");
    background-color: $table-border;
    background-repeat: no-repeat;
    background-position: center center;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 62px;
    height: 62px;
    z-index: 10;
    cursor: pointer;
    top: 0;
    right: 50px;

    @media (min-width: $desktop-width) {
      width: 62px;
      height: 62px;
      right: 0;
    }
  }
}

.contacts-group__item:nth-child(2)::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    background-image: url("../img/mail-icon.svg");
    background-color: $table-border;
    background-repeat: no-repeat;
    background-position: center center;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 61px;
    height: 61px;
    z-index: 10;
    cursor: pointer;
    top: 1px;
    right: 50px;

    @media (min-width: $desktop-width) {
      width: 62px;
      height: 62px;
      right: 0;
    }
  }
}

.contacts-group__input--margin-left {
  @media (min-width: $desktop-width) {
    margin-left: 22px;
  }
}
