.form {
  display: flex;
  flex-flow: column wrap;

  @media (min-width: $desktop-width) {
    flex-flow: row wrap;
    justify-content: center;
    width: 940px;
    margin: auto;
  }
}

.form__group {
  @media (max-width: $mobile-width-only) {
    width: 280px;
    margin: auto;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    width: 620px;
    margin: auto;
  }
}

.form__legend {
  @include text(400, 14px, 18px);
  color: $text-info;
  text-transform: uppercase;
}

.form__legend--hidden {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

@media (max-width: $mobile-width-only) {
  .form__wrapper--custom-background {
    background-color: $bg-secondary;
  }

  .form__group {
    border: none;
  }
}
