.form-page__button {
  display: block;

  @include text(700, 18px, 30px);
  color: $text-secondary;
  text-transform: uppercase;
  width: 279px;
  height: 63px;
  background: $bg-button;
  border: 1px solid $bg-button;
  border-radius: 2px;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin: 0 135px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 320px;
  }
}

.form-page__button--size {
  margin: auto;
}
