.form {
  display: flex;
  flex-flow: column wrap;

  @media (min-width: $desktop-width) {
    flex-flow: row wrap;
    justify-content: center;
    width: 940px;
  }
}

.form input:hover,
.form textarea:hover {
  border-color: $bg-table;
}

.form input:focus,
.form textarea:focus {
  outline-color: $text-info;
}

.form input {
  @include text(400, 18px, 30px);
  color: $bg-table;
  opacity: 1;
}

.form input::placeholder {
  @include text(400, 18px, 30px);
  color: $bg-table;
  opacity: 1;
}

.form textarea {
  color: $bg-table;
  opacity: 1;
}

.form textarea::placeholder {
  color: $bg-table;
  opacity: 1;
}

.form__group {
  width: 280px;
  margin: 0 auto 17px;

  @media (min-width: $tablet-width) {
    border: 2px solid $table-border;
    border-radius: 2px;
    width: 596px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.form__group--personal {
  @media (min-width: $tablet-width) {
    width: 618px;
    margin-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 3px;
  }
}

.form__group--achievements-group {
  margin-bottom: -16px;

  @media (min-width: $tablet-width) {
    padding: 3px 11px;
    margin-bottom: 18px;
  }
}

.form__group--contacts-group {
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: -8px 1px 59px 0;
  }
}

.form__group--app-group {
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin: -20px auto 56px;
  }

  @media (min-width: $desktop-width) {
    width: 431px;
    margin: 40px 0 0 48px;
    padding: 0 0 48px 0;
  }
}

.form__group--message-group {
  margin: 38px auto 7px;

  @media (min-width: $tablet-width) {
    margin: 40px auto 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 40px auto 47px;
  }
}

.form__group--submit-group {
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin: auto auto 55px;
  }

  @media (min-width: $desktop-width) {
    margin: auto auto 7px;
  }
}

.form__legend {
  @include text(400, 14px, 18px);
  width: 218px;
  color: $text-info;
  text-transform: uppercase;
  text-align: center;
  padding: 0 4.4%;
  margin: auto;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.form__legend--hidden {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.form__legend--line {
  @media (min-width: $desktop-width) {
    padding: 0 7.4% 0 4.4%;
  }
}

@media (max-width: $mobile-width-only) {
  .form__wrapper--custom-background {
    background-color: $bg-secondary;
    padding-top: 38px;
  }

  .form__group {
    border: none;
  }
}
