.form-page__button {
  display: block;

  @include text(700, 18px, 30px);
  color: $text-secondary;
  text-transform: uppercase;
  width: 276px;
  height: 59px;
  background: $bg-button;
  border: 1px solid $bg-button;
  border-radius: 2px;

  @media (min-width: $tablet-width) {
    width: 296px;
  }
}

.form-page__button--size {
  margin: 40px 20px 40px;
}
