.popup__inner--custom-background {
  background-color: $bg-secondary;
}

.second-page__button {
  @include text(700, 18px, 30px);
  color: $text-secondary;
  text-transform: uppercase;
  width: 276px;
  height: 59px;
  left: 22px;
  top: 2589px;
  background: $bg-button;
  border: 1px solid $bg-button;
  border-radius: 2px;
}
