.intro__text {
  @include text(300, 24px, 33px);
  color: $text-secondary;
  text-align: center;
  padding: 29px 4px 43px 3px;

  @include centerer;

  @media (min-width: $tablet-width) {
    @include text(300, 50px, 68px);
    padding: 34px 4px 43px 3px;
    margin: 33px auto -34px;
  }

  @media (min-width: $desktop-width) {
    margin: 25px auto -5px;
  }
}

.intro__text--narrow {
  @media (min-width: $tablet-width) {
    padding: 3px 4px 43px 3px;
    margin: 62px auto 2px;
  }

  @media (min-width: $desktop-width) {
    width: 620px;
    margin: 57px auto -37px;
  }
}
