.intro__text {
  @include text(300, 24px, 33px);
  color: $text-secondary;
  text-align: center;
  padding: 29px 4px 43px 3px;

  @include centerer;

  @media (min-width: $tablet-width) {
    @include text(300, 50px, 68px);
    padding: 3px 4px 43px 3px;
    margin: 65px auto 18px;
  }

  @media (min-width: $desktop-width) {
    margin: 57px auto 46px;
  }
}

.intro__text--narrow {
  @media (min-width: $desktop-width) {
    width: 620px;
    margin: 57px auto -37px;
  }
}

.intro--catalog {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 85px;
  }
}
