.submit-group {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border: none;
    order: -1;
  }

  @media (min-width: $desktop-width) {
    width: 936px;
  }
}

.submit-group__note {
  @include text(400, 14px, 30px);
  text-transform: uppercase;
  text-align: center;
  margin: 35px auto 0 -3px;

  sup {
    position: static;
    margin-left: 5px;
    vertical-align: baseline;
    font-size: inherit;
    color: $text-info;
  }

  span {
    display: none;

    @media (min-width: $desktop-width) {
      display: inline;
    }
  }
}
