.copyright__text {
  @include text(400, 14px, 18px);
  margin-right: 10px;

  @media (min-width: $desktop-width) {
    @include text(400, 18px, 18px);
  }
}

.copyright__link {
  display: inline-block;
  width: 27px;
  height: 34px;

  svg {
    fill: $text-info;
  }
}

.copyright__link:hover {
  svg {
    fill: $bg-table;
  }
}

.copyright__link:active {
  svg {
    fill: rgba($bg-table, 0.3);
  }
}
