.page {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;

  a {
    text-decoration: none;
    color: $text-info;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: flex-start;

  min-width: 320px;
  margin: auto;
  padding: 0;

  @include text;
  color: $text-primary;
  background-color: $bg-primary;
}

.page__header {
  display: flex;
  flex-direction: column;
}

.page__entry-wrapper {
  position: relative;
  margin-bottom: 29px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    margin: 0 auto -86px;
  }
}

.page__entry-wrapper::after {
  content: "";
  position: absolute;
  background-image: url("/img/triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 506px;
  width: 100%;
  bottom: -535px;
  left: 0;
  margin: 0;
  z-index: -1;

  @media (min-width: $tablet-width) {
    bottom: -520px;
  }

  @media (min-width: $desktop-width) {
    bottom: -556px;
  }
}

.page__entry-title {
  @include text(300, 24px, 29px);
  text-align: center;
  color: $text-primary;

  @media (min-width: $tablet-width) {
    @include text(300, 40px, 55px);
    margin-top: 32px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    @include text(300, 50px, 68px);
  }
}

.page__entry-title--custom-color {
  color: $text-secondary;

  @media (min-width: $tablet-width) {
    margin: 37px auto 31px;
    line-height: 48px;
    width: 200px;
  }

  @media (min-width: $desktop-width) {
    @include text(300, 50px, 68px);
    width: 300px;
    margin-bottom: 38px;
  }
}

.page__entry-title--top {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page__entry-title--bottom {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.page__entry-title--margin-top {
  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 136px;
  }
}

.page__entry-title--margin-bottom {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 31px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 48px;
  }
}

.page__entry-title--shorter {
  @media (min-width: $tablet-width) {
    width: 370px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    width: 462px;
    margin: auto;
  }
}

.page__entry-title--contacts {
  margin-bottom: 34px;

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
  }
}

.page__subtitle {
  width: 280px;
  padding: 30px 0 10px;
  margin: 14px auto 8px;

  @media (min-width: $tablet-width) {
    margin: 14px auto 9px;
  }

  @media (min-width: $desktop-width) {
    margin: 16px auto 22px;
  }
}

.page__subtitle--catalog {
  width: 250px;
  margin: 14px auto 41px;

  @media (min-width: $tablet-width) {
    margin: 14px auto 67px;
  }

  @media (min-width: $desktop-width) {
    margin: 14px auto 77px;
  }
}

.page__footer {
  @include centerer;
  text-align: center;
}

.page__intro {
  margin-bottom: 33px;
}

.page__popup {
  margin: auto;
}
