.page {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.page__body {
  display: grid;                                   // "аппендикс" ввиде таблицы, ширина которой больше контейнера,
  grid-template-rows: min-content 1fr min-content; // создает внешний отступ справа от грид-элементов
  align-content: start;                            // поэтому код закомментирован, пока не разберусь с таблицей

  min-width: 320px;
  max-width: 1200px;
  margin: auto;
  padding: 0;

  @include text;
  color: $text-primary;
  background-color: $bg-primary;
}

.page__header {
  display: flex;
  flex-direction: column;
}

.page-header__main-nav {
  margin-bottom: 29px;
}

.page a {
  text-decoration: none;
}
/*
.page img {
  max-width: 100%;
  height: auto;
}
*/
.page ul {
  list-style: none;
  padding-left: 0;
}

.page__entry-wrapper {
  position: relative;
  margin-bottom: 29px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    margin: 0 auto -86px;
  }
}

.page__entry-wrapper::before {
  content: url("/img/triangle-white.svg");
  position: absolute;
  width: 100%;
  top: 163px;
  left: -670px;
  margin: 0;
  z-index: 10;

  @media (min-width: $tablet-width) {
    top: 172px;
    left: -280px;
  }

  @media (min-width: $desktop-width) {
    top: 254px;
    left: 0;
  }
}

.page__entry-title {
  @include text(300, 24px, 29px);
  text-align: center;
  color: $text-primary;

  @media (min-width: $tablet-width) {
    @include text(300, 40px, 55px);
    margin-top: 32px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    @include text(300, 50px, 68px);
  }
}

.page__entry-title--custom-color {
  color: $text-secondary;

  @media (min-width: $tablet-width) {
    margin: 37px auto 32px;
    line-height: 48px;
    width: 200px;
  }

  @media (min-width: $desktop-width) {
    @include text(300, 50px, 68px);
    width: 300px;
    margin-bottom: 38px;
  }
}

.page__entry-title--top {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page__entry-title--bottom {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.page__entry-title--margin-top {
  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 136px;
  }
}

.page__entry-title--margin-bottom {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 29px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 48px;
  }
}

.page__entry-title--shorter {
  @media (min-width: $tablet-width) {
    width: 370px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    width: 462px;
    margin: auto;
  }
}

.page__entry-title--contacts {
  margin-bottom: 34px;

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
  }
}

.page__subtitle {
  margin: 46px auto 19px;

  @media (min-width: $tablet-width) {
    margin: 92px auto 18px;
  }

  @media (min-width: $desktop-width) {
    margin: 92px auto 33px;
  }
}

.page__footer {
  @include centerer;
  text-align: center;
}
