ul.social__list {
  display: flex;
  margin: 14px 0;
  padding: 0 3px;
  width: 188px;
  box-sizing: border-box;
  justify-content: space-around;
}

.social__item {
  list-style: none;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.social__link {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 0;
  border-radius: 50%;
  border: 3px solid rgba($bg-table, 0.1);
}

.social__link:hover {
  border-color: $bg-table;
}

.social__link:active {
  opacity: 0.1;
}

.social__link--twitter {
  background: url("/img/twitter.svg") no-repeat center;
}

.social__link--facebook {
  background: url("/img/facebook.svg") no-repeat center;
}

.social__link--youtube {
  background: url("/img/youtube.svg") no-repeat center;
}
