.subtitle {
  @include text(400, 14px, 30px);
  text-align: center;

  @media (min-width: $tablet-width) {
    @include text(400, 18px, 30px);
    width: 490px;
  }

  @media (min-width: $desktop-width) {
    width: 756px;
  }
}

.subtitle--catalog {
  @media (min-width: $desktop-width) {
    width: 572px;
  }
}

.subtitle__hidden {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}
